body {
  margin-top: 20px;
  background-image: radial-gradient(
      circle 8px at 92% 63%,
      rgb(255, 250, 85) 0%,
      transparent 22%
    ),
    radial-gradient(
      circle 2px at 73% 80%,
      rgb(201, 242, 255) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle 2px at 88% 58%,
      rgb(201, 242, 255) 0%,
      transparent 5%
    ),
    radial-gradient(
      circle 2px at 39% 24%,
      rgb(201, 242, 255) 0%,
      transparent 17%
    ),
    radial-gradient(
      circle 2px at 31% 10%,
      rgb(201, 242, 255) 0%,
      transparent 83%
    ),
    radial-gradient(
      circle 2px at 25% 64%,
      rgb(201, 242, 255) 0%,
      transparent 65%
    ),
    radial-gradient(
      circle 2px at 46% 18%,
      rgb(201, 242, 255) 0%,
      transparent 86%
    ),
    radial-gradient(
      circle 2px at 27% 89%,
      rgb(201, 242, 255) 0%,
      transparent 61%
    ),
    radial-gradient(
      circle 2px at 72% 43%,
      rgb(201, 242, 255) 0%,
      transparent 46%
    ),
    radial-gradient(
      circle 2px at 73% 2%,
      rgb(201, 242, 255) 0%,
      transparent 87%
    ),
    radial-gradient(
      circle 5px at 94% 33%,
      rgb(253, 250, 147) 0%,
      transparent 93%
    ),
    radial-gradient(
      circle 5px at 35% 87%,
      rgb(253, 250, 147) 0%,
      transparent 42%
    ),
    radial-gradient(circle 4px at 78% 1%, rgb(255, 249, 27) 0%, transparent 76%),
    radial-gradient(
      circle 4px at 71% 51%,
      rgb(255, 249, 27) 0%,
      transparent 69%
    ),
    radial-gradient(
      circle 4px at 26% 45%,
      rgb(255, 249, 27) 0%,
      transparent 83%
    ),
    linear-gradient(
      90deg,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 50%,
      rgb(35, 35, 35) 100%
    );
  background-size: 278px 278px;
}
.app-style {
  width: 65%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  font-family: "Archivo Black", sans-serif;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  padding: 10px 15px 0px;
  transition: 200ms all ease-in-out;
}
h1:hover {
  font-size: 45px;
  cursor: pointer;
}
#search-engine {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid grey;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
}
.click,
.btn-location {
  border-radius: 30px;
  padding: 10px 15px;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border: 1px solid gray;
  transition: 200ms all ease-in-out;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
  }
}

.click:hover,
.btn-location:hover {
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
    radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
}
.place-element {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.place-element:hover {
  box-shadow: 3px 3px 6px 3px rgba(24, 22, 24, 0.8);
}
.place {
  font-size: 35px;
}
.today-conditions {
  padding: 5px 10px;
}
.place-situation {
  text-align: right;
  font-size: 25px;
  position: relative;
  bottom: 100px;
  right: 10px;
}
#weather-aspect {
  text-transform: capitalize;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  border-bottom: 1px solid;
  background: rgb(207, 212, 203);
}
.hour {
  font-size: 25px;
}
h2 {
  text-align: center;
  position: relative;
  top: -30px;
}
.row {
  text-align: center;
}
.col {
  border: 0.5px solid grey;
  border-radius: 25px;
  padding: 3px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  display: inline-table;
}
.col:hover {
  box-shadow: 3px 3px 6px 3px rgba(24, 22, 24, 0.8);
}
.future-temp {
  margin: 4px;
  font-size: 16px;
}
.future-conditions {
  font-size: 15px;
  font-weight: normal;
}
p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
