html {
  height: 780px;
}
body {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(161, 196, 253);
  background: linear-gradient(
    120deg,
    rgba(161, 196, 253, 1) 0%,
    rgba(194, 233, 251, 1) 100%
  );
}
.app-style {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  font-family: "Archivo Black", sans-serif;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur (14px);
}
h1 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-size: 48px;
  margin: 10px;
  padding: 10px 15px 0px;
  transition: 200ms all ease-in-out;
}
h1:hover {
  font-size: 55px;
  cursor: pointer;
}
#search-engine {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #dfe9f3;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.click,
.btn-location {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid #dfe9f3;
  transition: 200ms all ease-in-out;
  margin-bottom: 20px;
  margin-right: 5px;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
  }
}

.click:hover,
.btn-location:hover {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.place-element {
  border: 1px solid #dfe9f3;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.place-element:hover {
  box-shadow: 3px 3px 6px 3px rgba(57, 62, 65, 0.5);
}
ul {
  padding: 0px;
  margin-bottom: 2px;
  margin-top: 3px;
}
li {
  list-style: none;
}

.place {
  font-size: 35px;
}
.today-conditions {
  padding: 5px 0px;
}
.place-situation {
  text-align: right;
  position: relative;
  top: 16px;
  font-size: 25px;
}
#weather-aspect {
  text-transform: capitalize;
  font-size: 20px;
}
a {
  padding: 2px 1px 0;
  font-size: 15px;
  position: relative;
  top: -8px;
  color: rgb(25, 41, 95);
}
.place-situation .active {
  text-decoration: none;
  cursor: default;
  color: #212529;
  font-size: 25px;
  position: relative;
  top: 0px;
}
.hour {
  font-size: 25px;
}
h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Amaranth", sans-serif;
}
.cards-forecast {
  text-align: center;
}
.col {
  border: 0.5px solid #dfe9f3;
  border-radius: 20px;
  padding: 3px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  display: inline-table;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.col:hover {
  box-shadow: 3px 3px 6px 3px rgba(57, 62, 65, 0.5);
}
#tomorrow-description,
#two-day-description,
#three-day-description,
#four-day-description,
#five-day-description {
  text-transform: capitalize;
  font-weight: bold;
}
.future-temp {
  margin: 4px;
  font-size: 16px;
}
.future-conditions {
  font-size: 15px;
  font-weight: normal;
}
p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.git-link {
  color: #212529;
  position: relative;
  top: 0px;
  font-size: 16px;
}
