body {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: radial-gradient(
    circle,
    #a1c4fd,
    #9ecbfc,
    #9ed1fa,
    #a0d6f7,
    #a6dbf4
  );
}
.app-style {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  font-family: "Archivo Black", sans-serif;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur (14px);
  color: #183446;
}
h1 {
  letter-spacing: 4px;
  font-size: 48px;
  margin: 10px;
  transition: 200ms all ease-in-out;
  text-decoration: underline;
}
h1:hover {
  font-size: 55px;
  cursor: pointer;
}
#search-engine {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.click,
.btn-location,
#search-engine {
  padding: 10px 15px;
  border: 1px solid #dfe9f3;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.click,
.btn-location {
  border-radius: 20px;
  transition: 200ms all ease-in-out;
  margin-bottom: 20px;
  margin-right: 5px;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
  }
}

.click:hover,
.btn-location:hover {
  background-image: linear-gradient(to top, white 0%, #dfe9f3 100%);
}
.place-element {
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur (14px);
}

.place-element:hover {
  box-shadow: 3px 3px 6px 3px rgba(57, 62, 65, 0.5);
}
ul {
  padding: 0px;
  margin-bottom: 2px;
  margin-top: 3px;
}
li {
  list-style: none;
}

.place {
  font-size: 35px;
}
.today-conditions {
  padding: 5px 0px;
}
.place-situation {
  text-align: right;
  font-size: 25px;
  position: relative;
  top: 11px;
}
#weather-icon {
  width: 60px;
  margin: -10px 0px;
}
#weather-aspect {
  text-transform: capitalize;
  font-size: 20px;
}
a {
  font-size: 15px;
  position: relative;
  top: -8px;
  margin-left: -6px;
}
.place-situation .active,
.git-link {
  text-decoration: none;
  cursor: default;
  color: #10375e;
  font-size: 25px;
  position: relative;
  top: 0px;
}
.hour {
  font-size: 20px;
}
.update {
  font-size: 12px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
}
h1,
h2,
.cards-forecast,
p {
  text-align: center;
}
.col {
  border-radius: 20px;
  padding: 3px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  display: inline-table;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur (14px);
  width: 120px;
  height: 139px;
}
.col:hover {
  box-shadow: 3px 3px 6px 3px rgba(57, 62, 65, 0.5);
  backdrop-filter: blur (14px);
}

#tomorrow-description,
#two-day-description,
#three-day-description,
#four-day-description,
#five-day-description {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}
.future-temp {
  margin: 4px;
}
#tomorrow-icon,
#two-day-icon,
#three-day-icon,
#four-day-icon,
#five-day-icon {
  width: 50px;
}
.future-conditions {
  font-size: 15px;
  font-weight: normal;
}
p {
  font-family: "Courier New", Courier, monospace;
}
.git-link {
  position: relative;
  top: 0px;
  cursor: pointer;
}
.git-link,
.future-temp,
p {
  font-size: 16px;
}
