body {
  margin-top: 20px;
}
.app-style {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  font-family: "Archivo Black", sans-serif;
  background-color: #bbd6d3;
}
h1 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-size: 45px;
  margin: 10px;
  padding: 10px 15px 0px;
  transition: 200ms all ease-in-out;
}
h1:hover {
  font-size: 55px;
  cursor: pointer;
}
#search-engine {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.click,
.btn-location {
  border-radius: 20px;
  padding: 10px 15px;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border: 1px solid gray;
  transition: 200ms all ease-in-out;
  margin-bottom: 20px;
  margin-right: 5px;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
  }
}

.click:hover,
.btn-location:hover {
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
    radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
}
.place-element {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.place-element:hover {
  box-shadow: 3px 3px 6px 3px rgba(24, 22, 24, 0.8);
}
ul {
  padding: 0px;
  margin-bottom: 2px;
  margin-top: 3px;
}
li {
  list-style: none;
}

.place {
  font-size: 35px;
}
.today-conditions {
  padding: 5px 0px;
}
.place-situation {
  text-align: right;
  position: relative;
  top: 16px;
  font-size: 25px;
}
#weather-aspect {
  text-transform: capitalize;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  border-bottom: 1px solid;
  background: rgb(207, 212, 203);
}
.hour {
  font-size: 25px;
}
h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Amaranth", sans-serif;
}
.cards-forecast {
  text-align: center;
}
.col {
  border: 0.5px solid grey;
  border-radius: 20px;
  padding: 3px;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  display: inline-table;
}
.col:hover {
  box-shadow: 3px 3px 6px 3px rgba(24, 22, 24, 0.8);
}
.future-temp {
  margin: 4px;
  font-size: 16px;
}
.future-conditions {
  font-size: 15px;
  font-weight: normal;
}
p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
